.adress_home{
  margin: 10px 20px!important;
  background: #fff;
  padding: 18px 25px;
}
.adress /deep/ .el-form-item__content{
  margin-left:0px!important;
}
.adressForm{
  background: #fff;
  text-align: left;
  padding: 25px 18px;
}
.adress_btn{
 margin-top:25px; 
}
.address-content {
  margin: 10px 18px;
}
.addr_title {
  font-size: 15px;
  color: #333;
  font-weight: bold;
  margin-bottom: 30px;
}
.req{
 color: red;
}
.address-content /deep/ .el-form-item__content .el-select{
  width:100%;
}
.term_item .span_txt {
  // top: -30px;
  // left:20px;
}

.confirm{
  background: #F6F6F6;
  padding: 10px 18px;
}
.confirm_content{
  background:#fff;
  padding: 25px 18px 34px 18px;
  text-align: left;
}
.adress_txt{
  color:#333333;
  font-size: 15px;
  line-height:13px;
  font-weight: bold;
  margin-bottom:26px;
}
.confirm_message{
  color:#666666;
  font-size:13px;
  line-height:13px;
  border-bottom: 1px solid #f6f6f6;
  padding-bottom:25px;
  margin-top:20px;
}
.confirm_address{
  margin-top:10px;
}
.confirm_name{
  margin-right:50px;
}
.confirm_img,.confirm_base_info{
  float:left;
}
.confirm_base_info{
  width: 63%;
}
.confirm_img{
  margin-right:30px;
}
.confirm_way_price{
  clear: both;
}
.confirm_info{
  width:100%;
  height:120px;
  margin-bottom:10px;
}
.confirm_title{
  color:#333333;
  font-size:15px;
  line-height:13px;
  margin-bottom:9px;
  margin-top:5px;
  font-weight: bold;
}
.confirm_desc{
  color:#999999;
  font-size: 9px;
  font-family: "Helvetica";
  margin-bottom:12px;

}
.price{
  color:#C5A480;
  font-size:12px;
  font-weight:bold;
}
.number{
  position: absolute;
  /* left: 100%; */
  right: 0;
  margin-right: 38px;
}
.confirm_way_price{
  margin-top:20px;
  text-align:right;
  color:#666;
  font-size:13px;
  margin-bottom:60px; 
}
.confirm_way{
  margin-bottom:18px;
}
.price_total{
  color:#C5A480;
  font-size:14px;
  font-weight:bold;
}

.addAddress{
  color:#C5A480;
  border-color:#C5A480;
  width:97px;
  height:25px;
  padding:6px 9px;
  position: absolute;
  right: 38px;
}
.addAddress_title{
  margin-bottom:5px;
}
.addAddress_title span{
  color:#333333;
  font-size:15px;
  font-weight: bold;
  
}
.address_content{
  margin-top:20px;
}
.address_name{
  color:#666;
  margin-right:50px;
  font-size:13px;
}
.address_phone{
  color:#999;
  font-size:13px;
}
.address_message{
  margin-top:10px;
  position: relative;
}
.edit_list{
  color:#999;
  position: absolute;
  top: 0px;
  right: 0;
}
.address_message p{
  margin-right:70px;
}
.line{
  background:#F6F6F6;
  height:1px;
  margin-top:12px;
}