.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 3rem;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
.detail /deep/ .el-carousel__button {
  width: 0.06rem!important;
  height: 0.06rem;
  border-radius: 50%;
}
.detail_content{
  text-align:center;
  padding-left:0.18rem;
  padding-right:0.18rem;
  padding-top:0.23rem;
  padding-bottom:0.25rem;
  color:#C5A480;
  background:#fff;
}
.detail{
  background:#fff;
}
.detail_list_h1{
  color:#C5A480;
  font-weight: bold;
  font-size:24px;
  margin-bottom:0.1rem;
  font-family: "Helvetica";
}
.detail_list_p{
  line-height:0.18rem;
  font-family: "Helvetica";
  margin-bottom:0.18rem;
  font-size:12px;
}
.toLove{
  background-image:url('../../../assets/image/toLove.png');
  background-repeat: no-repeat;
  background-position: center center;
  top: 0.68rem;
  right: 0.18rem;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  z-index: 10;
}
.Loved{
  background-image:url('../../../assets/image/loved.png');
  background-repeat: no-repeat;
  background-position: center center;
  top: 0.68rem;
  right: 0.18rem;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  z-index: 10;
}
.loveTip{
  color:#C5A480;
  font-size:10px;
  position: absolute;
  right: 0rem;
  top: 1rem;
  z-index: 10;
  width: 0.68rem;
  text-align: center;
}
.recommend_list{
  width:100%;
  height:4.7rem;
  background: #FAF7F4;
  padding: 0.25rem 0.18rem;
  text-align: left;
  margin-bottom:0.9rem;
}
.recommend{
  color:#654E30;
  font-size:18px;
  font-weight:bolder;
  margin-bottom:0.25rem;
  text-align: center;
}
.recommend_list_div{
  width:1.1rem;
  width: 1.1rem;
  display: inline-block;
  margin-right: 0.1rem;
  text-align:center;
}
.recommend_line{
  background:#C5A480;
  width:0.9rem;
  height:0.01rem;
  margin-top:0.1rem;
  margin-bottom:0.1rem;
}
.recommend_text{
  color:#C5A480;
  font-size:12px;
  font-weight:200;
}
.btn{
  width:100%;
  height:0.4rem;
  padding:0 0.18rem;   
  border-radius: 0.03rem;   
  font-size:13px;  
}
.detail .ok_btn{
  background:#C5A480;
  border-color:#C5A480;
  color:#EFDED1;
  margin-bottom:0.15rem;
  border-radius: 0.03rem;
}
.detail .addBag_btn{
  background:#FFFFFF;
  border-color:#C5A480;
  color:#C5A480;
  border-radius: 0.03rem;
}
.detail_price{
  margin-top: 0.16rem;
  margin-bottom:0.21rem
}
.detail_bts{
  margin-bottom:0.52rem;
  padding-left:0.18rem;
  padding-right:0.18rem; 
}
.detail{
  text-align:left;
}
.color_select{
  width:100%;
  height:0.4rem;
 
  border-radius: 0.03rem;
  color:#C5A480;
  font-size:13px;
  margin-bottom: 0.15rem;
  background: #F1EBE4;
  border-color:#C5A480;
}
.color_select /deep/ input{
  background: #F1EBE4;
  border-color:#C5A480;
}
.detail /deep/ .el-button+.el-button{
  margin-left:0rem!important;
}
.color_select /deep/ inputt::-webkit-input-placeholder{
  color:#C5A480;
}
.detail /deep/ .el-input__suffix-inner i ::before{
  color: #C5A480;
}
.detail /deep/ .el-select .el-input .el-select__caret {
  color: #C5A480;
}
.detail /deep/ .el-select .el-input__inner:focus {
  border-color: #C5A480;
}
.detail_flag{
  text-align: center;
}
.desc_title{
  font-size:16px;
  color:#C5A480;
  line-height:0.13rem;
  margin-bottom:0.21rem;
  font-weight:bold;
}
.detail_desc{
  text-align: left;
  padding:0 0.18rem;
}
.detail_desc_list{
  color:#C5A480;
  font-size:13px;
  line-height:0.13rem;
  font-family: "Helvetica";
}
.detail_desc_sub_one{
  margin-bottom:0.2rem;
}
.detail_desc_sub_last{
  margin-top:0.2rem;
  margin-bottom:0.2rem;
}
.select_size,.select_color,.select_num{
  color:#333333;
  font-size:13px;
  font-weight: bold;
  margin-bottom: 0.1rem;
  // margin-bottom: 30px;
}
.dialog_content /deep/ .el-tag{
  display: inline-block;
  margin-right:0.15rem;
  // margin-bottom: 30px;
  margin-right: 0.15rem;
  min-width: 0.46rem;
  height: 0.2rem;
  line-height: 0.2rem;
  text-align: center;
  margin-bottom:0.1rem;
}
.dialog_content{
  text-align:center;
}
.size_line{
  background:#E6E6E6;
  height:0.01rem;
}
.size_link{
  display: inline-block;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
.detail /deep/ .el-dialog__body{
  padding-left:0!important;
  padding-right:0!important;
  padding-top: 0.1rem!important;
  padding-bottom: 0.05rem;
}

.select /deep/ .el-input-number{
  width: 0.8rem;
  height: 0.25rem;
  line-height: 0.23rem;
}
.select /deep/ .el-input-number__decrease,.select /deep/ .el-input-number__increase{
  width: 0.2rem!important;
}
.select /deep/ .el-input-number__decrease i,.select /deep/ .el-input-number__increase i {
    color:#333;
    top: 0.06rem;
    font-weight: normal;
    position: initial;
}
.select /deep/ .el-input-number .el-input__inner {
    padding-left: 0.05rem;
    padding-right: 0.05rem;
    height: 0.25rem;
}
.select /deep/ .el-input-number__decrease:hover,.select /deep/ .el-input-number__increase:hover {
    color: #C5A480;
}
.select /deep/ .el-dialog{
  position: fixed;
  bottom:0;
}
.checkedColor, .checkedSize{
    border-color: #C5A480;
    color: #C5A480;
}
.span_txt_img {
  width: 0.2rem;
  height: 0.2rem;
  display: inline-block;
  background-image:url('../../../assets/image/tubiao_fang.png');
  background-repeat: no-repeat;
  background-position: left bottom;    
}
.span_txt .span_txt_desc{
  word-wrap:break-word;
  text-align: left;
  position: relative;
  top: -0.19rem;
  left: 0.23rem;
  display: block;
  margin-right: 0.18rem;
}
 .detail /deep/ .el-dialog__header {
  text-align: left;
  // font-size: 13px;
  font-weight: bold;
  color: #333;
}
.detail /deep/ .el-dialog__title{
  font-size: 13px;
}
.size_txt{
  margin-bottom:0.45rem!important;
}
.share{
  padding:0rem 0.18rem 0.3rem 0.18rem;
}
.share p{
  color:#C5A480;
  font-size:13px;
  font-weight: bold;
  margin-bottom:0.19rem
}
.share img{
  margin-right:0.15rem;
}
.detail_price span{
  font-weight:bold;
}
.detail_desc_list li{
  margin-top:0.05rem;
}
.detail_desc{
  padding-bottom:0.2rem;
}
.rightImg{
  margin-top:0.15rem;
}
.rightImg .price{
  font-size: 14px;
  font-weight: bold;
  color: #C5A480;
}
.rightImg .inventory{
  color: #888;
  font-size: 12px;
}
.req{
  color: red;
  margin-left: 2px;
  position: absolute;
  margin-top: -18px;
}
.select /deep/ .el-dialog{
  margin-bottom:0!important;
}
.addSuccess{
  color:#333333;
  font-size:13px;
  margin-bottom: 30px;
}