.category_list_name{
  margin-top:0.01rem;
  font-size:14px;
  color: #C5A480;
}
.category_list img{
  width:100%;
}
.category_list_price{
  margin-top:0.07rem;
  font-size:13px;
  color:#C5A480;
  font-weight: bold;
}
.category_home{
  padding-left:0.18rem;
  padding-right:0.18rem;
  background: #EFDED1;
}
.category_list{
  margin-bottom:0.3rem;
}
.list_more_tip {
  margin-top:0;
}
.category_home /deep/ .el-col{
  position: relative;
}
.category_list .toLove,.category_list .loved{
  position: absolute;
  top:0.15rem;
  right:0.15rem;
}
.category_list img{
  width:100%;
}
.category_img {
  width: 100%;
  height: 2.19rem;;
}