.icon_f_btn{
  width: 0.2rem;
  height: 0.2rem;
  display: inline-block;
  // background: #EFDED1 url('../../../assets/image/fliter.png') no-repeat fixed top;
  background-image:url('../../../assets/image/fliter.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}
.special_edition_list{
  background: #EFDED1;
  color: #C5A480;
  font-size:13px;
  width: 100%;
  padding-bottom:0.1rem;
  position: relative;
  // right: 0;
}
.menu_filter{
  height: 0.5rem;
  line-height: 0.5rem;
}
.img_list{
  width:100%;
  margin-bottom: 0.1rem;
  position: relative;
}
.menu_filter_btn{
  position: absolute;
  left: 40%;
}
.img_opeation{
  position: absolute;
  z-index: 100;
  bottom: 0.5rem;
  margin: 0 auto;
  width: 100%;
}


.menu_title{
  color:#C5A480;
  font-size: 12px;
  line-height:0.13rem;
  margin-bottom: 0.18rem;
  font-weight: bolder;
}
.menu_txt{
  color:#C5A480;
  font-size:10px;
  line-height:0.13rem;
  margin-bottom: 0.18rem;
}
.more_list{
  color:#C5A480;
  font-size: 12px;
  line-height:0.13rem;
  margin-bottom: 0.18rem;
  font-weight: bolder;
}
.menu{
  text-align:left;
  padding-top:0.25rem;
  padding-left:0.4rem;
  background: #EFDED1;
  text-align: left;
 
}
.menu /deep/ .el-icon-check{
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 0.38rem;
}
.menu_list{
  width: 60%;
  position: absolute;
  right: 0;
}
.menu_tip{
  margin-top:0.31rem;
  margin-bottom:0.9rem;
}
.menu_del{
  position: absolute;
  right: 0!important;
  margin-right: 0.18rem!important;
}
.list_h1{
  font-size:24px;
  color:#EFDED1;
  font-weight: bold;
  font-family: "Helvetica";
  margin-bottom: 120px;
}
.img_list_p{
  color:#EFDED1;
  font-size:12px;
  margin-bottom:0.97rem;
  font-family: "Helvetica Neue";
}
.img_list_btn{
  width:1.3rem;
  height:0.23rem;
  color:#EFDED1;
  font-size:12px;
  background: none;
  padding:0.06rem 0.24rem;
}


.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 3rem;
  margin: 0;
}

