

.menu_title{
  color:#C5A480;
  font-size: 12px;
  line-height:13px;
  margin-bottom: 25px;
  font-weight: bolder;
}
.menu_txt{
  color:#C5A480;
  font-size:10px;
  line-height:13px;
  margin-bottom: 18px;
}
.more_list{
  color:#C5A480;
  font-size: 12px;
  line-height:13px;
  margin-bottom: 18px;
  font-weight: bolder;
}
.menu_index{
  text-align:left;
  padding-top:35px;
  padding-left:18px;
  padding-right:18px;
  padding-bottom:35px;
  background: #C5A480;
  color:#EFDED1;
  text-align: left;
  transform: all 2s;
  width: 60%;

}
.menu_index p,.menu_index span,.menu_index ul,.menu_index ul li{
  color:#EFDED1; 
}
.menu_index /deep/ .el-icon-check{
  font-size: 16px;
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 38px;
}
.menu_list{
  width: 60%;
  position: absolute;
  right: 0;
}
.menu_tip{
  margin-top:31px;
  margin-bottom:90px;
}
.menu_del{
  position: absolute;
  right: 0!important;
  margin-right: 18px!important;
}
.el-icon-plus,.el-icon-minus{
  margin-top: -40px;
}
.menu_index ul{
  padding-left:18px;
}
.menu_index .el-icon-close{
  top:25px;
  color: #efded1;
}
.login{
  color:#EFDED1;
  font-size:15px;
}
.menu_home{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
  width: 100%;
  background: rgba(0,0,0,0.3);
}