.login_home{
    margin: 10px 20px 0 20px!important;
    background: #fff;
    padding: 10px 18px 40px 18px;
}

.loginForm{
    background: #fff;
    text-align: left;
}
.login_btn{
    width:100%;
    height:40px;
    background:#C5A480;
    border-color:#C5A480;
    border-radius: 3px;
    color:#EFDED1;
    font-size:13px;    
    margin-top:25px;
}
.label_txt{
    color:#666666;
    font-size:13px;
}
.resetPassword-item {
    text-align: right;
}
.resetPassword {
    text-decoration: underline;
    color: #C5A480;
}
.term_txt{
    color:#C5A480!important;
    text-decoration: underline;
}
.term_item,.span_txt{
    word-wrap:break-word;
    position: relative;
    top: 13px;
}
.term_item{
    margin-top: -20px!important;
    margin-bottom: 12px!important;
}
.term_item /deep/ .el-checkbox__inner {
    border: 1px solid #666;
}
.span_txt{
    font-size: 12px;
    display: inline-block;
    line-height: 15px;
}
.login /deep/ .el-checkbox{
    margin-right:10px;
}
.btn{
    width:100%;
    height:40px;
    padding:0 18px;   
    border-radius: 3px;   
    font-size:13px;  
}

.resetPass{
}
.resetPass .btn{
    width:100%;
    height:40px;
    padding:0 18px;   
    border-radius: 3px;   
    font-size:13px;  
}
.resetPass /deep/ .el-form-item__content{
    margin-left:0px!important;
}
.resetPass /deep/ .el-button+.el-button {
    margin-left: 0px;
}
.resetPass .ok_btn{
    background:#C5A480;
    border-color:#C5A480;
    color:#EFDED1;
    margin-bottom:15px;
}
.resetPass .desc_txt_title{
    color:#333333;
    font-size:15px;
    padding-bottom:25px;
    text-align: left;
    font-weight: bold;
}
.resetPass .desc_txt_p{
    color:#666666;
    text-align: left;
    font-size:13px;
    margin-bottom:24px;
    line-height: 18px;
}
.resetPass .toEmail_txt{
    text-align: right;
}
.verificationCode {
    background:#C5A480;
    color:#EFDED1;
    font-size:10px;
    position: absolute;
    top:-1px;
    right: 0px;
    height: 42px;
    border-radius: 0 3px 3px 0px;
    width: 105px;
}
.bag_none p{
    font-weight: bolder;
    font-size: 16px;
    margin-top:40px;
    margin-bottom:40px;
    text-align:center;

}
.bag_none{
    padding:35px 18px 45px 18px;
    text-align:left;
    background: #fff;
}
.pay_btn{
    width:140px;
    height:40px;
    margin-top:0px;
    margin:0 auto;
    display: inherit;
}
.login_home /deep/ .el-tabs__item.is-active {
    color: #C5A480!important;
    font-size:13px;
    font-weight: bold;
}
.login_home /deep/ .el-tabs__active-bar {
    background-color:#C5A480!important;
}
.login_home /deep/ .el-tabs__item {
    color: #C5A480!important;

}
.login_home /deep/ .el-tabs__content{
    margin-top:25px;
}
.other_login{
    margin-top:54px;
    color:#EFDED1;
    font-size:12px;
}
.login-line{
    background: #EFDED1;
    height:1px;
    margin-top: 8px;
}
.other_login_img{
    margin-top:17px;
}
.fontColor{
    color:#C5A480!important;
}
.login_home /deep/ .el-tabs__header{
    margin-bottom:30px;
}
.loved{
    background: #fff; 
}
.login_none{
    padding: 35px 36px 70px 36px;
}
.login_none p {
    color:#333333;
    font-size:15px;
    font-weight:bold;
    margin-bottom:60px;
}
.love_none{
    padding: 35px 36px 130px 36px;
}
.love_none p{
    color:#333333;
    font-size:15px;
    font-weight:bold;
    margin-bottom:35px;
}
.loved_list,.bag_list{
    text-align:left;
    // padding-top:15px;
    // padding-left:15px;
    // padding-right:15px;
    border-bottom: 1px solid #F6F6F6;
    padding-top: 17px;
    padding-bottom: 17px;
}
.loved_lists,.bag_lists{
    padding:17px 18px 0px 18px;
}
.loved_list img,.bag_list img{
    widht:80px;
    height:107px;
}
.loved_list .loved_img{

}
.loved_list .loved_text{
    color:#333333;
    font-size:15px;
    margin-bottom:6px;
    
} 
.loved_list .loved_price{
    
} 
.loved_list .icon_bag{
    position: absolute;
    right: 16px;
    /* font-weight: bolder; */
    top: 102px;
    background-image:url('../../../assets/image/shopBag.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 18px;
    height: 18px;
} 
.loved_list .loved_color,.bag_list .bag_color{
    color:#333333;
    font-size:15px;
}
.loved_list .loved_code,.bag_list .bag_code{
    color:#999;
    font-size:15px;
}
.loved_list .loved_country{
    margin-top:45px;
    color:#C5A480;
    font-weight:'Helvetica';
    font-weight:Bold;
    font-size:12px;
}
.loved_list /deep/ .el-icon-close,.bag_list /deep/ .el-icon-close{
    position: absolute;
    right: 18px;
    color: #999;
}
.loved_list /deep/ .el-icon-close{
    top: 20px;
}
.bag_list /deep/ .el-icon-close{
    top: 20px;
}
.bag_none span{
    color:#666;
    font-size:12px;
    line-height:15px;
    text-align:left;
}
.bag_none a{
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}
.bag_size span{
    float: left;
    color:#333333;
    font-weight: bold;
}
.bag_country span{
    float:right;
    color:#C5A480;
    font-weight: bold;
}
.bag_lists{
    text-align:left;
    background: #fff;
}
.total_div{
    margin-top:18px;
    background:#F6F6F6;
    padding:18px 18px 20px 18px;
}
.total_div .total_number,.total_div .total_pay{
    color:#999999;
    font-size:13px;
}
.total_div .total_number{
    margin-bottom:10px;
}
.total_div .total_pay{
    margin-bottom:18px;
}
.total_div .total{
    font-size:13px;
    color:#333333;
    font-weight:bold;
}
.total_div span{
    position: absolute;
    right: 0;
    margin-right: 36px;
}
.recommend{
    padding-top: 24px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom:25px;
    background: #FAF7F4;
}
.recommend img{
    width:110px;
    height:147px;
}

.recommend .recommend_line{
    background:#C5A480;
    height:1px;
    margin:10px;
}
.recommend .recommend_name{
    color:#C5A480;
    font-size:12px;
}
.search_none p{
    color:#999999;
    font-size:13px;
    margin-top:45px;
    text-align: center;
}